STRINGTABLE
BEGIN
1, "Dosya"
1001, "File"
2, "Yeni"
1002, "New"
3, "Aç"
1003, "Open"
4, "Kaydet"
1004, "Save"
5, "Farklý Kaydet..."
1005, "Save As..."
6, "Yazdýr"  
1006, "Print"
7, "Çýkýþ"
1007, "Exit"
8, "Form (Nesneler)"
1008, "Form (Components)"
9, "Proje (Kodlar)"
1009, "Project (Code)"
10, "Ayar (Proje Seçenekleri)"
1010, "Settings (Project Options)"
11, "Tümünü Kaydet"
1011, "Save All"
12, "Delphi"
1012, "Delphi"
13, "Düzen"
1013, "Edit"
14, "Kes"
1014, "Cut"
15, "Kopyala"
1015, "Copy"
16, "Yapýþtýr"
1016, "Paste"
17, "Sil"
1017, "Delete"
18, "Son Nesneyi Sil"
1018, "Delete Last Component"
19, "Tümünü Seç"
1019, "Select All"
20, "Dayalý"
1020, "Align"
21, "Bul..."
1021, "Find..."
22, "Üste"
1022, "Top"
23, "Alta"
1023, "Bottom"
24, "Sola"
1024, "Left"
25, "Saða"
1025, "Right"
26, "Yatay daðýt..."
1026, "Horizontal Align..."
27, "Dikey dayýt..."
1027, "Vertical Align..."
28, "Görünüm"
1028, "View"
29, "Form/Kod"
1029, "Form/Code"
30, "Nesne Özellikleri"
1030, "Component Properties"
31, "Hata Penceresi"
1031, "Error Window"
32, "Standart"
1032, "Standart"
33, "Özelleþtir..."
1033, "Customize..."
34, "Dil"
1034, "Language"
35, "Türkçe"
1035, "Turkish"
36, "Ýngilizce"
1036, "English"
37, "Çözünürlük"
1037, "Resolution"
38, "Baþlat Simgesi Ekle"
1038, "Add Start Icon"
39, "Eski Baþlat Simgesi"
1039, "Older Start Icon"
40, "Proje"
1040, "Project"
41, "Çalýþtýr"
1041, "Run"
42, "Dur"
1042, "Stop"
43, "Derle..."
1043, "Compile..."
44, "Bilgi..."
1044, "Information..."
45, "Seçenekler..."
1045 , "Options..."
46, "Yardým"
1046, "Help"
47, "Hakkýnda"
1047, "About"
48, "Ýçindekiler"
1048, "Contents"
49, "Seçili bölgeye uygula"
1049, "Apply to selection"
50, "Geri Al"
1050, "Undo"
51, "Satýr Sil"
1051, "Delete Line"
52, "Kod Þablonu"
1052, "Code Templates"
53, "Kod Tamamla"
1053, "Complete Code"

54, "Yapým: Tarýk Baðrýyanýk"
55, "Tarih: Aralýk 2001"
56, "Delphi severlere adanmýþtýr"
1054, "Producer: Tarýk Baðrýyanýk"
1055, "Date: December 2001"
1056, "Dedicated to Delphi lovers"
57, "Yunus Kod Yazýcý Çýktýsý"
1057, "Yunus Code Printer Output"
58, "Derleme Penceresi"
1058, "Compile Window"
59, "&Tamam"
1059, "&Ok"
60, "Varsayýlan Komut Deðeri"
1060, "Default Command Value"
61, "Kullanýcý Tanýmlý Komut"
1061, "User Defined Value"

62, "Uygulama Seçenekleri"
63, "Uygulama Baþlýðý"
64, "Üst"
65, "Sol"
66, "Geniþlik"
67, "Yükseklik"
68, "Ýpucu bekleme süresi"
69, "Ýpucu belirme süresi"
70, "Yazýtipi"
71, "Arkaplan"
72, "&Vazgeç"
73, "&Uygula"
74, "Rengi"
75, "Ýpucu"
76, "Nesne özellikleri penceresi hep üstte olsun"
77, "Çalýþtýrýlýnca kod ve ana penceresinin durumu"
78, "Açýlýþta 'Tasarým Görünümü'nde açýlsýn"
79, "Ýpuçlarýnda kýsayollarý göster"
80, "Yazýcýdan renkli çýktý al"
81, "Sesli geribesleme olsun"
82, "Kod Penceresi"
83, "Uygulamanýn Arkaplaný"
1062, "Application Options"
1063, "Application Caption"
1064, "Top"
1065, "Left"
1066, "Width"
1067, "Height"
1068, "Hint Hide Pause"
1069, "Hint Pause"
1070, "Font"
1071, "Background"
1072, "&Cancel"
1073, "&Apply"
1074, "Color"
1075, "Hint"
1076, "Component properties is always on top"
1077, "Code and main window's run mode"
1078, "While opening file, stay in 'Design' mode"
1079, "Show tool tips"
1080, "Print in color"
1081, "Feedback by sound"
1082, "Code Window"
1083, "Application Backcolor"
84, "Proje Aç"
85, "Proje Kaydet"
1084, "Open Project"
1085, "Save Project"
86, "Varsayýlan"
87, "Yükle"
88, "Kapat"
1086, "Default"
1087, "Load"
1088, "Close"

89, "Yatay Aralýk"
90, "Dikey Aralýk"
91, "Kaç piksel aralýk olacak"
92, "Tasarým"
93, "Çalýþma"
94, "Aktif"
95, "Baþlýk"
96, "Renk"
97, "Seçim"
98, "Etiket"
99, "Metin Kutusu"
100, "Düðme"
101, "Toplam"
102, "Nesne Adý"
103, "Olay Adý"
104, "Satýr Numarasý"
105, "Deðiþken Adý"
106, "Deðeri"
1089, "Horizontal Space"
1090, "Vertical Space"
1091, "How many pixels will be used"
1092, "Design"
1093, "Run"
1094, "Active"
1095, "Caption"
1096, "Color"
1097, "Select"
1098, "Label"
1099, "Edit"
1100, "Button"
1101, "Total"
1102, "Component Name"
1103, "Event Name"
1104, "Line Number"
1105, "Variable Name"
1106, "Value"

107, "|Kullanýlan deðiþkenler"
108, "|(Ctrl+)F9 ile elde edilen olay listesi"
109, "|Sabit kýsma sað týklanýp, seçime uygulanabilir"
110, "|Týklayýp kapatabilirsiniz..."
111, "Nesne özellikleri penceresi hep üstte/normal olur"
112, "Proje doðrudan çalýþarak açýlabilir"
113, "Sadece kod yazýtipini renkli basabilirsiniz"
114, "Windows varsayýlan sesi kullanýlarak Kaydet ve Çalýþtýr'da ses çýkmasý"
116, "Yazýtipine baðlý olarak geniþlik deðiþir"
117, "Düzen menüsü form veya kod penceresine baðlý çalýþýr"
118, "Kod içinde metin aramasý için týklayýnýz"
119, "Bazý çözünürlükler tehlikeli olabilir"
1107, "|Used variables"
1108, "|Event list gathered by (Ctrl+)F9"
1109, "|Fixed side can be right clicked to apply to the selection"
1110, "|Click to close..."
1111, "Component properties become on top or normal"
1112, "Project can be opened and run automatically afterwards"
1113, "You can just print code font in color"
1114, "Beep feedback at Save or Run commands"
1116, "Width depends on font type"
1117, "Edit menu is for components on the Form or code lines"
1118, "To search text in the code"
1119, "Some resolutions can be dangerous"

122, "Açýklama Satýrý"
123, "Yap"
124, "Sil"
1122, "Comment Line"
1123, "Do"
1124, "Erase"
125, "Olay"
126, "Açýklama"
1125, "Event"
1126, "Comment"

127, "Kelime Kaydýr"
1127, "Word Wrap"

128, "Tümünü Temizle"
129, "Bu Satýra Git"
1128, "Clear All"
1129, "Go to this Line"

130, "Sistem Bilgisi"
1130, "System Information"

131, "Taþýma Piksel Miktarý"
1131, "Pixel Count to move"

132, "Onay Kutusu"
133, "Liste Kutusu"
134, "Açýlýr Kutu"
135, "Yazý Kutusu"
1132, "CheckBox"
1133, "ListBox"
1134, "ComboBox"
1135, "Memo"

136, "Metin Liste Yazýmý"
1136, "String List Editor"

137, "Geriye Yolla"
138, "Öne Getir"
1137, "Send to Back"
1138, "Bring to Front"

139, "Exe Dosya"
1139, "Exe File"

141, "*.dpr, *.pas ve *.dfm olarak kaydedilir"
1141, "Can be saved as *.dpr, *.pas and *.dfm"

142, "Deðer"
143, "Seçili"
1142, "Lines"
1143, "Selected"

144, "Visual Basic"
1144, "Visual Basic"
145, "Visual C++"
1145, "Visual C++"
140, "*.vbp, *.frm ve *.vbw olarak kaydedilir"
1140, "Can be saved as *.vbp, *.frm and *.vbw"

146, "OtoBul"
1146, "AutoFind"

147, "Çift týklayýp baþka klasör seçebilirsiniz"
1147, "Double click to change the folder"

148, "Araçlar"
1148, "Tools"
149, "Düzenle..."
1149, "Edit..."
150, "&Ekle"
1150, "&Add"
151, "Araçlar Seçenekleri"
1151, "Tools Options"
152, "Dosya Seçimi"
1152, "Choose File"
153, "Uygulama Programlarý (*.exe)"
1153, "Application Files (*.exe)"
154, "Tüm Dosyalar (*.*)"
1154, "All Files (*.*)"

155, "Proje (*.proje)"
1155, "Project (*.proje)"

156, "Seçenek"
1156, "Option"

157, "Aramaya Devam Et"
1157, "Find Next"

158, "Deðiþtir..."
1158, "Replace..."

159, "*.proje uzantýsýný Windows Kayýt Defterinden sil"
1159, "Unregister the *.proje extension from the Windows Registry"

160, "Deðiþtir"
1160, "Convert"

161,"Çalýþtýrýrken 'Derleme Penceresi'ni göster"
1161,"When running, show 'Compile Window'"

162, "Üzerine yazýlmasýný kabul ediyor musunuz?"
1162, "Do you accept to overwrite?"

163, "Zamanlayýcý"
1163, "Timer"

164, "Tümünü Temizle"
1164, "Clear All"
165, "Deðiþken"
1165, "Variable"

166, "Bitmap Resimler (*.bmp)"
1166, "Bitmap Pictures (*.bmp)"
167, "Resim Aç"
1167, "Open Picture"

168, "Kalýcý Deðiþkenler"
1168, "Persistent Variables"
169, "Deðiþkenlerinizi program bitse de koruyabilirsiniz"
1169, "You can preserve your variables even program is finished"

170, "Komutlar"
1170, "Commands"

171, "Veritabaný..."
1171, "Database..."
172, "Tablo"
1172, "Table"
173, "Ö&nizleme"
1173, "&Preview"
174, "&Alan Listesi"
175, "Alan A&dý"
176, "Tür"
177, "&Boyut"
1174, "&Field List"
1175, "Fiel&d Name"
1176, "Type"
1177, "S&ize"
178, "&Sýralý"
179, "&Görünürlük"
180, "G&ereklilik"
181, "Veritabaný Dosyasýný Çoðalt"
1178, "I&ndex"
1179, "&Visible"
1180, "R&equired"
1181, "Duplicate Database File"
182, "SQL Metni"
1182, "SQL String"
183, "Alan Adý"
1183, "Field Name"
184, "Veritabaný Dosyalarý (*.xml, *.cds)"
1184, "Database Files (*.xml, *.cds)"
185, "Tazele"
1185, "Refresh"
186, "Sa&lt Okunur"
1186, "Read On&ly"
187, "Örnek"
1187, "Example"

188, "Excel Tablosu"
1188, "Excel Table"
189, "Excel Dosyalarý (*.xls, *.csv)"
1189, "Excel Files (*.xls, *.csv)"
190, "Çalýþtýrýlýnca Excel dosyalarý görünür halde olsun"
1190, "Excel files are visible when running"

191, "Proje Seçenekleri"
1191, "Project Settings"
192, "Genel Seçenekler"
1192, "Global Settings"

193, "Pencereler"
1193, "Windows"

194, "Olay Ekle"
1194, "Add Event"

195, "Ýþlemci Önceliði"
196, "Boþ"
197, "Yüksek"
198, "En Yüksek"
1195, "Application Priority"
1196, "Idle"
1197, "High"
1198, "Highest"
199, "Kod yorumlama hýzý deðiþtirilebilir"
1199, "The speed of the running code can be changed"

200, "Özelli&kler"
201, "&Olaylar"
202, "D&eðiþkenler"
1200, "P&roperties"
1201, "Eve&nts"
1202, "Varia&bles"
203, "Nesneler"
1203, "Components"
204, "Kod"
205, "Hatalar"
1204, "Code"
1205, "Errors"

206, "Benchmark Sonuçlarýný Temizle"
1206, "Clear Benchmark Results"
207, "Hata Mesajlarýný Temizle"
1207, "Clear Error Messages"

208, "Eðer varsayilan.ayar dosyanýz silinmiþ veya bozulmuþ ise bu seçeneði kullanýnýz"
1208, "Use this option to restore varsayilan.ayar file"

209, "Ver"
1209, "Export"
210, "Al"
1210, "Import"
211, "Exe Kaynak..."
212, "HTML Dosya..."
1211, "Exe Resource..."
1212, "HTML File..."

213, "Metin"
1213, "Text"

214, "Metin Dosyalarý (*.txt)"
1214, "Text Files (*.txt)"
215, "Dosyadan yükle..."
1215, "Load from file..."
216, "Nesne seçimi yapýldýktan sonra 'Seçim'e geri dönülsün"
1216, "After choosing a component, return to 'Select' mode"

217, "&Arama"
1217, "&Search"
218, "Sadece 'Varsayýlan Komut Deðeri' kýsmýnda tam arama yapýlýr."
1218, "You can just do whole word searching for 'Default Command Value'."

219, "Durak Noktasý"
220, "Durak Noktasý Listesi"
221, "Tümünü Sil"
1219, "Breakpoint"
1220, "Breakpoint List"
1221, "Delete All"

222, "Üstte Tut"
1222, "Stay on top"
223, "Þart"
1223, "Condition"

224, "Devam Et"
1224, "Continue"
225, "Satýr Numarasýna Git..."
1225, "Go to Line Number..."
226, "Kitap Ýzleri"
1226, "Bookmarks"

227, "Araç Çubuklarý"
1227, "Toolbars"

228, "Varsayýlan Deðerler"
1228, "Default Values"
229, "varsayilan.ayar dosyasýný yenile"
1229, "Renew the 'varsayilan.ayar' preferences file"

230, "Yeni Form"
1230, "New Form"
231, "Seçenekler"
1231, "Options" 
232, "Ctrl+Shift+(0 ile 9 arasý sayý) ile yapabilir, Ctrl+sayý ile gidebilirsiniz"
1232, "Ctrl+Shift+(between 0 and 9) puts a bookmark, Ctrl+number goes there"

233, "Izgara Aralýðý"
1233, "Grid Size"
234, "Nesne Kenar Tutacaðý"
1234, "Component Side Handle"
235, "Izgaraya Hizala"
1235, "Snap to grid"

236, "Kod yazýmýnda durum çubuðunda yardým çýksýn"
1236, "Show status bar help while writing a program"

237, "Normal"
238, "Küçült"
239, "Gizle"
1237, "Normal"
1238, "Minimize"
1239, "Hide"

240, "Ýsti&snalar"
1240, "Exce&ptions"
241, "Bazý gözardý edilen hata mesajlarý görülebilir"
1241, "Some skipped exception messages are hold here"

242, "Yazýcý"
1242, "Printer"

300, "Yazým Hatasý"
1300, "Syntax Error"
301, "Proje açýlamýyor, dosya bulunamadý"
1301, "Project can not be opened, a file is missing"
303, "Yunus'un varsayýlan ayarlarý (varsayilan.ayar) yüklenemedi"
1303, "Yunus' default settings  can not be opened (varsayilan.ayar)"
304, "Bulunamadý"
1304, "Not Found"
305, "Dosya arama uzun sürebilir, devam edecek misiniz?"
1305, "It takes for a while... Are you sure to continue?"
306, "Uygulama Bulma"
1306, "Find Application"
307, "*.proje uzantýsý Kayýt Defterinden silinsin mi?"
1307, "Unregister *.proje extension from Registry?"
308, "*.proje uzantýsý baþarý ile Kayýt Defterinden silinmiþtir"
1308, "Succesfully Unregistered *.proje extension from Registry"
309, "Dikkat"
1309, "Attention"
310, "Varsayýlan deðerlere dönülsün mü?"
1310, "Will you reload the default values?"
311, "varsayilan.ayar dosyasý yeniden oluþturulsun mu?"
1311, "Will you recreate the varsayilan.ayar file?"

312, "Yinele"
1312, "Redo"
END
